version: '3.8'

services:
  data_reader:
    build: .
    container_name: data_reader
    restart: always
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./logs:/app/logs
